@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Black.woff2') format('woff2');
}

:root {
  color: #000;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  position: relative;
}

.condensed {
  font-weight: 500;
  margin-left: 2rem;
  font-size: 1.6rem;
}

a {
  color: #6b6a68;
  cursor: pointer;
  text-decoration: none;
}

.m0 {
  margin: 0;
}

.m20 {
  margin: 0 20rem;
}

.mt16 {
  margin-top: 1rem;
}

.mt32 {
  margin-top: 1rem;
}

.mt40 {
  margin-top: 1.5rem;
}

.mt4-8 {
  margin-top: 4.8rem;
}

.mr8 {
  margin-right: 0.5rem;
}

.mr16 {
  margin-right: 1rem;
}

.mr32 {
  margin-right: 2rem;
}

.mr48 {
  margin-right: 3rem;
}

.mb16 {
  margin-bottom: 1rem;
}

.mb32 {
  margin-bottom: 2rem;
}

.mb48 {
  margin-bottom: 3rem;
}

.ml8 {
  margin-left: 0.5rem;
}

.ml16 {
  margin-left: 1rem;
}

.ml32 {
  margin-left: 2rem;
}

.bgRed {
  background-color: #e4002b;
}

.bgWhite {
  background-color: #ffffff;
}

.bgGray {
  background-color: #939290;
}

.redTxt {
  color: #e4002b;
}

.grayTxt {
  color: #939290;
}

.whiteTxt {
  color: #ffffff;
}

.blackTxt * {
  color: #000000;
}

.ceraFont {
  font-family: "Cera Pro";
}

.fontSize24 {
  font-size: 1.5rem;
}

.fontSize18 {
  font-size: 1.125rem;
}

.fontSize40 {
  font-size: 2.5rem;
}

.btnPrimary {
  width: 100%;
  border: none;
  display: flex;
  color: #ffffff;
  height: 3.5rem;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btnDisabled {
  border: none;
  display: flex;
  color: #6b6a68;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.modalMessage {
  top: 2rem;
  width: 50rem;
  position: absolute;
  padding: 1rem 1rem;
  border-radius: 20px;
  background-color: #ffffff;
}