.productDetail {
  display: flex;
  min-height: 70vh;
  padding-top: 4rem;
  margin-top: 4.8rem;
  height: fit-content;
  justify-content: center;
}

.leftSide, .rightSide {
  display: flex;
  width: 33.25rem;
}