@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Black.woff2') format('woff2');
}

.mainContentContainer {
  display: flex;
  margin-top: 2.2rem;
  align-items: center;
  flex-direction: column;
}

.menuContainer {
  display: flex;
  width: 78.125rem;
  justify-content: flex-start;
}

.h1 {
  line-height: 0;
  font-weight: 900;
  font-size: 3.4rem;
  font-family: 'Cera Pro';
}

.menuLinks {
  gap: 2rem;
  display: flex;
  overflow: hidden;
  width: 78.125rem;
}

.menuLinks:hover {
  overflow: scroll;
  overflow-y: unset;
}

.linksWrap {
  display: flex;
  white-space: nowrap;
}

.subText {
  margin: 0;
  color: #939290;
  font-size: 1.3rem;
  width: fit-content;
  padding: 0.8rem 1.2rem;
}

.selectedLink {
  color: red;
  border-bottom: solid 2px red;
}