.menuListCard {
  color: #000;
  width: 15rem;
  padding: 2rem 1.5rem;
  text-decoration: none;
  border-radius: 1.25rem;
  margin: 1rem 0 1rem 2rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .08);
}

.menuListCardPhoto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.menuListCardPhoto img {
  width: 13rem;
  height: 13rem;
  object-fit: contain;
}

.menuListCardName {
  display: flex;
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.menuListCardDescription {
  display: flex;
  margin: 0 0.3rem;
  align-items: center;
  font-family: Cera Pro;
  justify-content: space-between;
}

.menuListCardPrice {
  font-size: 1.75rem;
}