.chickenClubContainer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background-size: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url(https://www.kfc.ru/static/media/loyalty-background-grey.b055b14ef28.svg);
}

.chickenClubContent {
  display: flex;
  padding: 4.4rem;
  align-items: center;
  flex-direction: column;
}

.buttonContent {
  width: 17rem;
  display: flex;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
}

.chickenClubLoginButton button {
  color: #fff;
  border: none;
  font-size: 0.95rem;
  border-radius: 0.2rem;
  background-color: #e4002b;
}

.chickenClubAd {
  width: 42rem;
  height: 22rem;
  margin-top: 5rem;
  background-size: 42rem;
  background-image: url(https://www.kfc.ru/images/catalog/desktop/loyalty-cards.png);
}

.chickenClubIcon {
  top: 2rem;
  left: 16rem;
  width: 10rem;
  height: 5.4rem;
  position: absolute;
  background-size: 100%;
  background-image: url(https://www.kfc.ru/static/media/chicken-club.e1241afddb3.svg);
}