#header {
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  position: fixed;
  transition: top 0.2s;
  justify-content: center;
}

.header {
  gap: 10rem;
  width: 100%;
  display: flex;
  padding: 0 20rem;
  padding-top: 0.3rem;
  background-color: #fff;
  justify-content: space-between;
}

.leftSideHeader {
  gap: 3rem;
  display: flex;
  align-items: center;
}

.headerMenu {
  gap: 1.6rem;
  display: flex;
}

.headerMenu a {
  color: #6b6a68;
  text-decoration: none;
}

.rightSideHeader {
  gap: 1.5rem;
  display: flex;
  align-items: center;
}

.rightSideHeader button {
  gap: 0.5rem;
  border: none;
  display: flex;
  outline: none;
  font-size: 13px;
  font-weight: 900;
  height: fit-content;
  align-items: center;
  border-radius: 4rem;
  font-family: Cera Pro;
  padding: 0.8rem 1.5rem;
}

.headerRedButton {
  color: #fff;
  background-color: #e4002b;
}