#header {
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  position: fixed;
  transition: top 0.2s;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.header {
  gap: 10rem;
  width: 100%;
  display: flex;
  padding-top: 0.3rem;
  background-color: #fff;
  justify-content: space-between;
}

.leftSideHeader {
  display: flex;
  align-items: center;
}

.rightSideHeader {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.rightSideHeader button {
  display: flex;
  outline: none;
  font-size: 14px;
  height: fit-content;
  border-radius: 4rem;
  font-family: Cera Pro;
  padding: 0.8rem 1.5rem;
}