.footerContainer {
  display: flex;
  margin-top: 5.5rem;
  align-items: center;
  padding-bottom: 4rem;
  flex-direction: column;
}

.footer {
  display: flex;
  width: 82.125rem;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #efefef;
}

.footerLogo {
  width: 100%;
  display: flex;
  gap: 2.6875rem;
  justify-content: center;
}

.logoLine {
  width: 2rem;
  height: 4.5rem;
  background-color: #e4002b;
}

.footerContent {
  width: 100%;
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;
}

.footerContentColumn {
  display: flex;
  width: 11.25rem;
  flex-direction: column;
  align-items: flex-start;
}

.footerColumnHeader {
  font-weight: 400;
  font-size: 1.7rem;
}

.footerColumnItems {
  margin-top: 0.8rem;
}

.footerColumnItem {
  color: #939290;
  font-size: 1rem;
  margin-top: 1rem;
}

.kfcLogo {
  margin: 0 7.5rem;
}

.bottomFooter {
  display: flex;
  width: 82.125rem;
  margin-top: 5.5rem;
  justify-content: space-between;
}

.bottomFooterColumn {
  width: 25rem;
}

.switchLanguage {
  color: #e4002b;
}

.footerStores a {
  margin-left: 0.5rem;
}