@font-face {
  font-family: "Cera Pro";
  src: url('../fonts/CeraPro-Black.woff2') format('woff2');
}

:root {
  color: #000;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}