.chikenClubContainer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background-size: 100%;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url(https://www.kfc.ru/static/media/loyalty-background-grey.b055b14ef28.svg);
}

.chickenClubContent {
  display: flex;
  padding: 4.4rem;
  align-items: center;
  flex-direction: column;
}

.tipContainer {
  font-weight: 900;
  font-size: 2.6rem;
  position: relative;
  margin-bottom: 3rem;
  border-radius: 1.4rem;
  font-family: 'Cera Pro';
  background-color: #f2f0ef;
  border: 0.3rem solid #e0e0e0;
  padding: 0.8rem 3.5rem 0.8rem 1.6rem;
}

.tipContainer button {
  top: 0.3rem;
  border: none;
  outline: none;
  right: 0.1rem;
  background: none;
  position: absolute;
}

.buttonContent {
  width: 17rem;
  display: flex;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
}

.chikenClubLoginButton button {
  color: #fff;
  border: none;
  font-size: 0.95rem;
  border-radius: 0.2rem;
  background-color: #e4002b;
}

.chikenClubAd {
  width: 42rem;
  height: 22rem;
  margin-top: 5rem;
  background-size: 42rem;
  background-image: url(https://www.kfc.ru/images/catalog/desktop/loyalty-cards.png);
}

.chikenClubIcon {
  top: 2rem;
  left: 16rem;
  width: 10rem;
  height: 5.4rem;
  position: absolute;
  background-size: 100%;
  background-image: url(https://www.kfc.ru/static/media/chicken-club.e1241afddb3.svg);
}